@using Demo.BLL.DTO.DepartmentDto

@model IEnumerable<DepartmentDto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-2">All Departments</h1>
<a class="btn btn-primary mb-4 mt-3" asp-controller="Department" asp-action="Create">Create Departments</a>

<br />

@if(Model.Any())
{

    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(D=>D.Code)</th>
                <th scope="col">@Html.DisplayNameFor(D=>D.Name)</th>
                <th scope="col">@Html.DisplayNameFor(D=>D.Description)</th>
                <th scope="col">@Html.DisplayNameFor(D=>D.DateOfCreation)</th>
                <th scope="col">Details</th>
                <th>Edit</th>
                <th>Delete</th>


            </tr>
        </thead>
        <tbody>
          
            @foreach(var department in Model)
            {
                <tr>
                    <th >@department.Code</th>
                    <td>@department.Name</td>
                    <td>@department.Description</td>
                    <td>@department.DateOfCreation</td>

                    @* @Html.PartialAsync("_buttonPartialView",department.Id) *@

                     <partial name="_buttonPartialView" model="@department.Id"/>

                    <td> 
                    @*     <a class="btn btn-danger" asp-action="Delete" asp-route-id="@department.Id">
                            <i class="fas fa-trash me-2"></i>Delete
                        </a>  *@
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@department.Id">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal-@department.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Employee</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are You Sure to Delete this Employee?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" asp-action="Delete" asp-controller="Department" asp-route-id="@department.Id" class="mt-4">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                  
                </tr>
            }
          
        </tbody>
    </table>

}

else

{
    <div class="alert alert-info mt-2">
        <h2>
            No Department founds
        </h2>
    </div>
}

